//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the shop page.
// -----------------------------------------------------------------------------


.shop {

  .holder-section-title {
    margin-bottom: 15px;
    border-bottom: 1px solid $desert-storm;
  }
  
  .section-title-shop {
    width: max-content;
    margin: 0 auto;

    font-size: 45px;
    line-height: auto;
    color: $milo-green;
    font-family: $bukhari-script-regular;
    text-transform: capitalize;
    
    border-bottom: 3px solid;
  }

  .text-left {
    margin-right: auto;
    margin-left: 0;
  }

  .link-button {
    margin-top: 15px;
    padding: 12px 25px;

    font-size: 12px;
    font-family: $montserrat-medium;
    color: $white;
    text-transform: uppercase;
    background: $gradient-green;

    transition: all .3s ease-in-out;
  }

  .section-banner-shop {
    .holder-banner-shop {
      // position: relative;
      background-size: cover;
      height: 700px;

      outline: none;
  
      .container {
        height: 100%;
      }
  
      .holder-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
  
      .banner-text {
        margin: 0;
        color: $white;
        font-family: $montserrat-medium;
  
        text-shadow: 1px 1px 2px black;
      }
  
      .banner-title {
        font-size: 60px;
        color: $white;
        font-family: $bukhari-script-regular;
        
        text-shadow: 1px 1px 2px black;
      }
    }
  }

  .section-products {
    padding: 30px 0 0;

    .slide {
      margin: 20px 15px;
      overflow: hidden;

      outline: none;

    }

    .holder-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // margin-bottom: 20px;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;

      transition: all .3s ease-in-out;
    }

    .slick-container {
      display: flex;
      flex-wrap: wrap;
    }

    .slide {
      position: relative;
      width: calc(25% - 30px);

      cursor: pointer;

      @include on-event() {
        
        .holder-image {
          transform: scale(1.1);
        }
        
        .link-text {
          text-decoration: underline;
        }
      }
    }

    .slick-image {
      width: 100%;
    }

    .product-link {
      font-size: 30px;
      color: $white;

      text-align: center;
      text-shadow: 1px 1px 2px black;
      text-transform: uppercase;
    }

    .link-text {
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      padding: 0 15px;

      font-size: 24px;
      font-family: $bebas-regular;
    }
  }

  .section-best-seller {

    .slick {
      position: relative;
      max-width: 600px;
      margin: 0 auto;
    }

    .slide {
      border-left: 1px solid $hippie-green;
    }

    .best-seller-link {
      text-decoration: none;
    }

    .holder-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 120px;
      margin-bottom: 12px;
    }

    .best-seller-image {
      max-width: 100px;
      margin: 0 auto;
      width: 100%;
    }

    .slick-dots {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: center;
      padding: 0;

      li {
        padding: 0 5px;
      }

      button {
        padding: 3px;
        
        font-size: 0;
        
        background-color: $white;
        border-radius: 100%;
        border: 1px solid $hippie-green;

        outline: none;
        cursor: pointer;
      }

      .slick-active {
        button {
          background-color: $hippie-green;
        }
      }
    }

    .slick-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .slick-prev {
      left: -45px;
    }

    .slick-next {
      right: -45px;
    }

    .fas {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;

      color: $hippie-green;
      border: 1px solid $hippie-green;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .section-small-banner {
    position: relative;
    background-image: url(../assets/images/market-background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    z-index: 0;

    .container {
      height: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(100,100,100,.8);
      z-index: 1;
    }

    .holder-text {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      z-index: 2;

      color: $white;
      text-align: center;
    }

    .text-desc {
      font-size: 14px;
    }

    .text-thank-you {
      font-size: 30px;
    }
  }

  .section-market {
    padding: 50px 0;

    .fruit-basket {
      width: 100%;
      max-width: 350px;
    }

    .holder-market {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: -40px;
    }

    .holder-image {
      position: absolute;
      top: 60%;
      left: 50%;
      z-index: 99;

      transform: translate(-50%, -50%);
    }

    .holder-market-items {
      position: relative;
      width: 50%;

      &:nth-of-type(2) {
        margin-bottom: 15px;
        padding-left: 150px;
      }

      &:nth-of-type(3) {
        margin-bottom: 15px;
        padding-right: 150px;
      }

      &:nth-of-type(6) {
        margin-top: 20px;
        padding-left: 50px;
      }

      &:nth-of-type(7) {
        margin-top: 20px;
        padding-right: 50px;
      }

      &:nth-of-type(odd) {
        .holder-items {
          margin-left: auto;
        }
      }
    }


    .holder-market-items {

      .holder-circle {
        border-bottom: 2px dotted black;
        position: absolute;
      }

      .image-circle {
        position: absolute;
        top: -16px;
      }

      &:nth-of-type(even) {
        .image-circle {
          left: -42px;
        }
      }

      &:nth-of-type(odd) {
        .image-circle {
          right: -42px;
        }
      }

      &:nth-of-type(2) {
        .holder-circle {
          top: 152px;
          left: 235px;
          width: calc(100% - 235px);
        }
      }

      &:nth-of-type(3) {
        .holder-circle {
          top: 152px;
          right: 235px;
          width: calc(100% - 235px);
        }
      }

      &:nth-of-type(4) {
        .holder-circle {
          top: 95px;
          left: 175px;
          width: calc(100% - 175px);
        }
      }

      &:nth-of-type(5) {
        .holder-circle {
          top: 95px;
          right: 175px;
          width: calc(100% - 175px);
        }
      }

      &:nth-of-type(6) {
        .holder-circle {
          top: 75px;
          left: 225px;
          width: calc(100% - 225px);
        }
      }

      &:nth-of-type(7) {
        .holder-circle {
          top: 75px;
          right: 225px;
          width: calc(100% - 225px);
        }
      }
    }

    .holder-items {
      padding: 4px;
      margin: 2px 0;
      width: 100%;
      max-width: 120px;

      border: 1px solid;
    }

    .item-image {
      width: 100%;
      max-width: 120px;
      max-height: 80px;
    }

    .item-title {
      margin: 0;

      font-size: 11px;
      text-align: center;
    }

    .item-info {
      margin: 0;

      font-size: 8px;
      text-align: center;
    }
  }

  .section-shop-now {
    margin: 30px 0;

    .holder-shop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .holder-background {
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 250px;
      z-index: 0;
    }

    .holder-small {
      width: 30%;
      background-image: url(../assets/images/cuisine-background.jpeg);
    }

    .holder-big {
      width: calc(70% - 60px);
      background-image: url(../assets/images/bread-background.jpeg);
    }

    .holder-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .shop-desc {
      margin: 0;
      font-size: 20px;
      color: $white;
    }

    .shop-name {
      margin: 0;
      font-size: 34px;
      color: $white;
      text-transform: uppercase;
    }

    .shop-link {
      position: relative;
      font-size: 18px;
      color: $yellow;
      text-transform: uppercase;

      @include on-event() {
        .fas {
          right: -15px;
        }
      }
    }

    .fas {
      position: absolute;
      top: 50%;
      right: -8px;
      
      font-size: 8px;
      
      transform: translateY(-50%);
      transition: all .3s ease-in-out;
    }
  }

  .section-product-market {
    margin: 25px 0;

    .holder-whats-new,
    .holder-featured {
      margin: 12.5px 0;

      .product-link {
        text-decoration: none;
      }

      .holder-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
      }
  
      .slick-prev,
      .slick-next {
        display: none !important;
      }

      .slick-list {
        width: 100%;
      }

      .holder-hover-state {
        display: none;
        text-align: center;

        .hover-state-title {
          font-size: 20px;
          letter-spacing: 1px;
          color: $white;
          font-family: $bebas-regular;
        }

        .hover-state-link {
          margin: 0 auto;
          padding: 10px 25px;
          color: $white;
          text-align: center;
          font-family: $montserrat-regular;

          background: $gradient-green;
        }

        .hover-whats-new-text {
          margin-bottom: 0;
          margin-top: 15px;
          font-size: 12px;
          color: $white;
          font-family: $montserrat-medium;
        }

        .hover-whats-new-title {
          font-size: 26px;
          color: $white;
          font-family: $bebas-regular;
        }
      }

      .product,
      .slide {
        width: 25%;
        height: 260px;
        outline: none;

        transition: all .3s ease-in-out;
      }
    
      .holder-image {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 170px;
      }
  
      .product-image {
        width: 100%;
        max-width: 175px;
        margin: 0 auto;
      }
    }

    .holder-whats-new {
      .slide,
      .product {
        @include on-event() {
          background: $gradient-green;

          .best-seller-text {
            display: none;
          }

          .holder-hover-state {
            display: block;
          }
        }
      }
    }

    .holder-featured {
      .slide,
      .product {
        @include on-event() {
          // position: absolute;
          background-image: url(../assets/images/featured-bg.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          .holder-image {
            display: none;
          }

          .best-seller-text {
            display: none;
          }

          .holder-hover-state {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
          }
        }
      }
    }
  }

  .section-vendors {
    margin: 15px 0;

    .holder-vendor-slide {
      padding: 15px 0 25px;
    }

    .slick {
      position: relative;
      padding: 15px 10px;
      border: 1px solid $desert-storm;
    }

    .holder-image {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 110px;
    }

    .image {
      max-width: 80px;
      max-height: 100px;
      margin: 0 auto; 
    }

    .slick-nav {
      position: absolute;
      top: 0;
      height: 100%;
      background-color: $leaf-green;
      padding: 0 15px;
      cursor: pointer;

      .fas {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        color: $hippie-green;
      }

      .fa-chevron-left {
        left: 8px;
      }

      .fa-chevron-right {
        right: 8px;
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
  }

  @include respond-to(md) {
    .section-market {
      .holder-market-items {
        &:nth-of-type(2) {
          padding-left: 100px;

          .holder-circle {
            left: 210px;
            width: calc(100% - 210px)
          }
        }

        &:nth-of-type(3) {
          padding-right: 100px;

          .holder-circle {
            right: 210px;
            width: calc(100% - 210px)
          }
        }

        &:nth-of-type(6) {
          padding-left: 30px;

          .holder-circle {
            left: 200px;
            width: calc(100% - 200px)
          }
        }

        &:nth-of-type(7) {
          padding-right: 30px;

          .holder-circle {
            right: 200px;
            width: calc(100% - 200px)
          }
        }
      }
    }

    .section-banner-shop {
      .holder-banner-shop {
        height: 450px;
      }
    }
  }

  @include respond-to(md-down) {
    .section-market {
      .holder-market {
        margin-top: 0;
      }

      .fruit-basket {
        width: 300px;
      }
    }
  }

  @include respond-to(sm) {
    .section-best-seller {
      .slick-list {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          height: 100%;
          width: 1px;
          background-color: $hippie-green;
        }
      }
    }

    .section-banner-shop {
      .holder-banner-shop {
        
        .banner-text {
          font-size: 18px;
          text-align: center;
        }

        .banner-title {
          text-align: center;
          font-size: 35px
        }
      }
    }
  }

  @include respond-to(sm-down) {
    .text-left {
      margin-left: auto;
    }

    .section-title-shop {
      font-size: 26px;
    }

    .section-banner-shop {
      .holder-banner-shop {
        height: 300px;
      }
    }


    .section-shop-now {
      .holder-small {
        margin-bottom: 25px;
        width: 100%;
      }

      .holder-big {
        width: 100%;
      }
    }

    .section-market {

      .item-image {
        max-height: unset;
      }

      .item-info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
      }

      .fruit-basket {
        width: 200px;
      }

      .holder-market-items {
        &:nth-of-type(2) {
          padding-left: 30px;
        }

        &:nth-of-type(3) {
          padding-right: 30px;
        }

        &:nth-of-type(6) {
          padding-left: 15px;
        }

        &:nth-of-type(7) {
          padding-right: 15px;
        
        }

        .holder-circle {
          border: none;
        }
      }
    }

    .section-best-seller {
      .slide {
        border: none;
      }

      .slick-prev {
        left: 0;
      }

      .slick-next {
        right: 0;
      }
    }

    .section-product-market {
      .holder-featured,
      .holder-whats-new  {

        .holder-image {
          min-height: 135px;
        }

        .product-image {
          max-width: 100px;
        }
      }
    }  
  }

  @include respond-to(xs) {

    .section-banner-shop {
      .holder-banner-shop {
        .banner-text {
          font-size: 13px;
          text-align: center;
        }
  
        .banner-title {
          font-size: 26px;
          text-align: center;
        }
      }
    }

    .section-market {
      
      .holder-image {
        position: relative;
        top: unset;
        left: unset;
        margin: 0 auto;
        width: 100%;
        
        transform: unset;
        text-align: center;
      }

      .holder-items {
        margin: 0 auto;
      }

      .holder-market-items {

        &:nth-of-type(2) {
          padding-left: 0;
        }

        &:nth-of-type(3) {
          padding-right: 0;
        }

        &:nth-of-type(6) {
          padding-left: 0;
        }

        &:nth-of-type(7) {
          padding-right: 0;
        }

        .holder-circle {
          display: none;
        }
      }
    }

    .section-shop-now {
      .shop-name {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}