Redirect 301 /about.html /about
Redirect 301 /shop.html /shop
Redirect 301 /products.html /products
Redirect 301 /vendors.html /vendors

Redirect 301 /register southcommonmarket.herokuapp.com/register