<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} \.html
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

Redirect 301 /about /about.html
Redirect 301 /shop /shop.html
Redirect 301 /products /products.html
Redirect 301 /vendors /vendors.html

Redirect 301 /register southcommonmarket.herokuapp.com/register

ErrorDocument 500 /500/
ErrorDocument 404 /404/

</IfModule>